link(rel='stylesheet', href='css/bootstrap.min.css')
style
  body {
  padding-top: 50px;
  padding-bottom: 20px;
  }
link(rel='stylesheet', href='css/bootstrap-theme.min.css')
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')

script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')